<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.cordova.pushIntent" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>pushIntent</name><js-module name="pushIntent" src="www/pushIntent.js"><clobbers target="cordova.plugins.pushIntent" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="pushIntent"><param name="android-package" value="org.cordova.pushIntent.pushIntent" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/pushIntent.java" target-dir="src/org/cordova/pushIntent/pushIntent" /></platform></plugin>